<a href="https://colab.research.google.com/github/AzzahraFebia/zara-python/blob/main/week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# String

#print("Hello, Python 102!")
#print("Hello, Python 101!")

"Hello, Python 102!"
#"Hello, Python 101!"

'Hello, Python 102!'

In [21]:
# weekly exercise 1
panjang = 20.5
lebar= 25
tinggi = 10

keliling = 2 *( panjang + lebar )
luas = panjang*lebar
volume = panjang*lebar*tinggi

print ("panjang = " , panjang)
print ("lebar = " , lebar)
print ("tinggi =" , tinggi)
print ("keliling =" , keliling)
print ("luas =" , luas)
print ("volume =" , volume)

panjang =  20.5
lebar =  25
tinggi = 10
keliling = 91.0
luas = 512.5
volume = 5125.0

In [2]:
# weekly exercise 2
nilairataratashafira=((85+75)/2)
print(nilairataratashafira)

80.0

In [3]:
jumlahnilaihanifdanandi=(75+90+70+75)
print(jumlahnilaihanifdanandi)

310

In [5]:
# data mahasiswa
data={'nama':['Widya','Dhanar','Hikma','Nedia'],
      'kalkulus 1':[85, 85, 80, 95] ,
      'metode statistika':[85, 85, 75, 80]
}
# menghitung rata-rata nilai kalkulus 1
rata_rata_kalkulus = sum(data['kalkulus 1']) / len(data['kalkulus 1'])
# menghitung rata-rata metode statistika
rata_rata_statistika = sum(data['metode statistika']) / len(data['metode statistika'])
# menampilkan hasil
print(f"rata-rata nilai kalkulus 1: {rata_rata_kalkulus}")
print(f"rata-rata nilai metode statistika: {rata_rata_statistika}")

rata-rata nilai kalkulus 1: 86.25
rata-rata nilai metode statistika: 81.25

In [1]:
rataratanilaikalkulus=((85+80+75+95+85+75+70+85+80)/9)
print(rataratanilaikalkulus)

81.11111111111111

In [2]:
rataratanilaistatistika=((75+90+80+80+85+90+75+85+75)/9)
print(rataratanilaistatistika)

81.66666666666667

In [7]:
# weekly exercise 3
# data yang diketahui
jamkerja = 8
bulanagustus = 31
haritidakmasuk = 3
gajiperhari = 30000
tunjangan = 10
jamlembur = 5
upahlemburperjam = 10000

# jumlah jam kerja
hariaktif = bulanagustus-haritidakmasuk
totaljamkerja = hariaktif*jamkerja

# gaji bulan agustus
gajiagustus = totaljamkerja*gajiperhari

# jumlah tunjangan
tunjanganDwi = (tunjangan/100)*gajiagustus

# upah lembur
gajilembur = jamlembur*upahlemburperjam

# total gaji agustus
gajitotal = gajiagustus+tunjanganDwi+gajilembur

# hasil
print(f"gaji Dwi bulan Agustus: Rp.{gajiagustus :,}")
print(f"tunjangan yang diterima: Rp.{tunjanganDwi :,}")
print(f"total gaji bulan Agustus: Rp.{gajitotal :,}")

gaji Dwi bulan Agustus: Rp.6,720,000
tunjangan yang diterima: Rp.672,000.0
total gaji bulan Agustus: Rp.7,442,000.0